{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комментарии</title>
    <link rel="stylesheet" href="{% static 'comments/styles.css' %}">
</head>
<body>

<h2>Комментарии</h2>

<a href="{% url 'comments_create' %}" class="centered-link">
    <button type="button" class="add-comment-btn">Добавить комментарий</button>
</a>

{% for comment in page_obj %}
    <div class="comments-container">
        {% include "comments/comment.html" with comment=comment %}
    </div>
{% endfor %}

<nav>
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ p }}" {% if page_obj.number == p %}class="active"{% endif %}>{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>


</body>
</html>
